"client" {
	# With this enabled, CCL will catch all exceptions thrown whilst rendering blocks.
	# If an exception is caught, the block will not be rendered.
	B:"catchBlockRenderExceptions"=true

<<<<<<< HEAD
	# With this enabled, CCL will message the player upon an exception from rendering blocks or items.
	# Messages are Rate-Limited to one per 5 seconds in the event that the exception continues.
	B:"messagePlayerOnRenderExceptionCaught"=true
=======
	# With this enabled, CCL will catch all exceptions thrown whilst rendering items.
	# By default CCL will only enhance the crash report, but with 'attemptRecoveryOnItemRenderException' enabled
	#  CCL will attempt to recover after the exception.
	B:"catchItemRenderExceptions"=true
>>>>>>> b3684595b8499d393feebf065b07383882b7f802
}
